/* product 기본제공 스타일 */ 
.container {max-width: 960px:}

/* Custom translucent site header 
사용자가 만든(커스텀) 반투명 사이트 헤더*/

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/* Dummy devices (replace them with your own or something else entirely!)
 이 장치들은 예시니까 너희가 실제로 쓰는 장치들로 바꾸거나, 아예 다른 걸 넣어도 돼!” */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/* Extra utilities 추가 유틸리티*/

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
/* product 기본제공 스타일 끝 */ 

/* 메뉴 한/영 호버 */
 /* 기본 상태: 영어만 보이게 */
.lang-dropdown .ko {
  display: none;
}
 /* hover 시 한/영 전환 */
.lang-dropdown:hover .en {
  display: none;
}
.lang-dropdown:hover .ko {
  display: inline;
}
 /* hover 시 드롭다운 열기 */
.lang-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Bootstrap 기본 보정 */
}
/* 데비콘 아이콘 이미지  */
.fw-bold img {
  width: 30px;
  height: 30px;
}